{% extends "base.html" %}
{% block content %}
    <h1>Edit Profile</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }} {{ form.username(size=20) }}
        </div>
        <div>
            {{ form.email.label }} {{ form.email(size=20) }}
        </div>
        <div>
            {{ form.profile_picture.label }} {{ form.profile_picture() }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
