# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3
*.log

# Virtual environment
venv/
env/
ENV/
venv.bak/
env.bak/
.chatterbox-env/
*.egg-info/

# Flask specific
instance/
.webassets-cache

# IDEs
.vscode/
.idea/

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Environment variables
.env
*.env

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.cache

#css
.swp
*.swp