<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ChatterBox Chat Room</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="chat-room-container" id="chatRoomContainer"
     data-room="{{ room_code }}" 
     data-username="{{ username }}" 
     data-profile-picture="{{ profile_picture }}">
     
    <h2>Chat Room: {{ room_code }}</h2>
	<div>
		<p>Room Code: <input type="text" value="{{ room_code }}" id="roomCode" readonly>
		<button onclick="copyRoomCode()">Copy</button></p>
	</div>
    <p><strong>{{ creator }}</strong> created the room  <strong id="created-at" data-created-at="{{ created_at }}"></strong>.</p>

    <div class="chat-box" id="chat-box">
        <!-- Messages will appear here -->
    </div>

	<div id="message-display-container"></div> 

    <!-- Chat input box -->
    <div class="message-input-container">
        <form id="chat-form" onsubmit="sendMessage(); return false;">
			<div class="input-container">
				<textarea id="message-input" placeholder="Type a message..." required></textarea>
				<button type="submit" id="send-btn">Send</button>
			</div>
		</form>
    </div>
	<button id="leave-room-button" class="submit-btn">Leave Room</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>
