<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}">
    <title>{% block title %}ChatterBox{% endblock %}</title>
</head>

<body>

    <div class="container fade-in">
        <p class="welcome-text">
            Join or create a room to start connecting with others. Whether you're here for discussions, study groups, or casual conversation, ChatterBox has you covered!
        </p>
        
        <div class="card fade-in">
            <h3>Join a Room</h3>
            <form method="POST" action="{{ url_for('room.join_room') }}" class="form">
                <input type="text" name="room_code" placeholder="Enter room code" required class="input-field input-hollow">
                <button type="submit" class="button">Join Room</button>
            </form>
        </div>

        <div class="card fade-in">
            <h3>Create a New Room</h3>
            <form method="POST" action="{{ url_for('room.create_room') }}" class="form">
                <button type="submit" class="button">Create Room</button>
            </form>
        </div>
    </div>

</body>


</html>
